<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gz.app.comdavid.apprende2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Apprende"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".Lectura.ResultadoJuegoLectura"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".Juegos.Vocales.ResultadoJuegoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.ContenedorInstrucciones"
            android:label="@string/title_activity_contenedor_instrucciones"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".GestionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity3"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".splashscreen"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inicio"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Vocales.vocales"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Vocales.vocales_e"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Vocales.vocales_i"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Vocales.vocales_o"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Vocales.vocales_u"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_a"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_d"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_b"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_c"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_e"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_f"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_g"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_h"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_i"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_j"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_k"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_l"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_m"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_n"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_nn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_o"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_p"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_q"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_r"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_s"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_t"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_u"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_v"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_w"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_x"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_y"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_z"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".silabas"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_c"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_b"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_d"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_f"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_g"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_l"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_m"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_n"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_p"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_r"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_s"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silabas_t"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_v"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_y"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_z"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego99"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_aa"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribirr3_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil11"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil12"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil13"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil14"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil15"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil16"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil17"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil18"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil19"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil20"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil21"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil22"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil23"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil24"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil25"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil26"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil27"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil28"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil29"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil30"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil31"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil32"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil33"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil35"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil34"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil36"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil37"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil38"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil39"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil40"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil41"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil42"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil43"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil44"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil45"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil46"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil47"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil48"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil49"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil50"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil51"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil52"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil53"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil54"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil55"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil56"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil57"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil58"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil69"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil59"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil60"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil61"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil62"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil63"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil64"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil65"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil66"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil67"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil68"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil70"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil71"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil72"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil73"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil74"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosil75"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribir4_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribirr5_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribirr6_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegosilabas10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".juegos"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Paint.paint"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Paint.paint2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lectura.lectura2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".inicio2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.escribirinicio"
            android:screenOrientation="landscape" />
        <activity
            android:name=".creditos"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mainactivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".read1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".read2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".read3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".read4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".read5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_bb"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_cc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_dd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ee"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ff"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_gg"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_hh"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ii"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_jj"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_kk"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ll"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_mm"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_nn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_nn_"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_oo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_pp"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_qq"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_rr"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ss"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_tt"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_uu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_vv"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ww"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_xx"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_yy"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_zz"
            android:screenOrientation="landscape" />
    </application>

</manifest>