<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gz.app.comdavid.apprende2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Apprende"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasz"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasy"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasv"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabast"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabass"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasr"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasp"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasn"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasm"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasl"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasg"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasf"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasd"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Juegos.Silabas3.ResultadoJuegoSilabasb"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Juegos.Silabas3.ResultadoJuegoSilabasc"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Juegos.Silabas2.ResultadoJuegoSilabas2"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Juegos.Silabas1.ResultadoJuegoSilabas1"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Lectura.ResultadoJuegoLectura"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Juegos.Vocales.ResultadoJuegoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.ContenedorInstrucciones"
            android:label="@string/title_activity_contenedor_instrucciones"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Registro.GestionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Registro.MainActivity3"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".splashscreen"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inicio"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Vocales.vocales"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Vocales.vocales_e"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Vocales.vocales_i"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Vocales.vocales_o"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Vocales.vocales_u"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_a"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_d"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_b"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_c"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_e"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_f"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_g"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_h"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_i"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_j"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_k"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_l"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_m"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_n"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_nn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_o"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_p"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_q"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_r"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_s"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_t"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_u"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_v"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_w"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_x"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_y"
            android:screenOrientation="landscape" />
        <activity
            android:name=".abecedario.abc_z"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silabas"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_c"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_b"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_d"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_f"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_g"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_l"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_m"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_n"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_p"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_r"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_s"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silabas_t"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_v"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_y"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Silabas.silaba_z"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Vocales.juego99"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_aa"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribirr3_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil11"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil12"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil13"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil14"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil15"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil16"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil17"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil18"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil19"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil20"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil21"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil22"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil23"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil24"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil25"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil26"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil27"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil28"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil29"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil30"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil31"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil32"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil33"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil35"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil34"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil36"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil37"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil38"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil39"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil40"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil41"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil42"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil43"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil44"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil45"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil46"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil47"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil48"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil49"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil50"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil51"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil52"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil53"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil54"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil55"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil56"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil57"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil58"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil69"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil59"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil60"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil61"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil62"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil63"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil64"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil65"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil66"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil67"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil68"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil70"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil71"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil72"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil73"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil74"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas3.juegosil75"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribir4_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribirr5_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".escribirr6_1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas1.juegosilabas1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas1.juegosilabas2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas1.juegosilabas3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas1.juegosilabas4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas1.juegosilabas5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas2.juegosilabas6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas2.juegosilabas7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas2.juegosilabas8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas2.juegosilabas9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.Silabas2.juegosilabas10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Juegos.juegos"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Paint.paint"
            android:screenOrientation="landscape"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Paint.paint2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura7"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura8"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura9"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.lectura10"
            android:screenOrientation="landscape" />
        <activity
            android:name=".inicio2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.escribirinicio"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.Ingles.mainactivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.Ingles.read1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.Ingles.read2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.Ingles.read3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.Ingles.read4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Lectura.Ingles.read5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_bb"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_cc"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_dd"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ee"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ff"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_gg"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_hh"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ii"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_jj"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_kk"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ll"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_mm"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_nn"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_nn_"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_oo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_pp"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_qq"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_rr"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ss"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_tt"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_uu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_vv"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_ww"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_xx"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_yy"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABC_Drawable.Drawable_letter_zz"
            android:screenOrientation="landscape" />
    </application>

</manifest>